<h1>welcome <%= Time.now %></h1>
<p> <%= link_to "hello" , :controller =>'welcome', :action => 'say', :id => 'say_hello' %></p>
<p> <%= link_to 'event' , :controller => 'events' , :action => 'index' %></p>
