<%= form_for @event  do |f| %>

    <%= render :partial => 'form' , :locals =>{:f => f} %>
    <br>
    <%= f.submit "Update" %>

<% end %>

<ul class="pager">
  <li class="previous"><%= link_to events_path do%>&larr;Back<% end %></li>
</ul>