// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*events*/
div {list-style-type:none;}
.event{
         float: right;
         height: 100%;
         width: 60%;
    
}
.event_bottom {
    padding-top: -10%;
    padding-right: 40%;
    float: right;
}
.event_remove{
    float: right;
}
.event_shadow{
    box-shadow: 4px 4px 12px 4px rgba(20%,20%,40%,0.5);
}
