<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <%= link_to "Dream" ,root_path, class: "navbar-brand" ,title: "The Dream Is Coming True"  %>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            <li ><%= link_to root_path do%><i class = "glyphicon glyphicon-home"></i> Home<% end %></li>
        </ul>
    </div>
</nav>